
<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Camera
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-list>
    <ion-item>
      <ion-badge slot="start">11</ion-badge>
      <ion-label>Badge in start slot</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge slot="end">22</ion-badge>
      <ion-label>Badge in end slot</ion-label>
    </ion-item>
  </ion-list>

  
<ion-card>
    <ion-card-header>
        <ion-card-title>Hotel Panama Garden</ion-card-title>
      </ion-card-header>
      
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
        
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>