<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chart
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">



<!-- <ion-list style="margin-left: auto;margin-right: auto;">
  <div class="chart-container">
    <canvas id="MyChart"
     #MyChart
     style="width:100%;max-width:700px;"
     >{{ MyChart }}</canvas>
  </div>
</ion-list> -->

<ion-button>Default</ion-button>
<ion-button [disabled]="true">Disabled</ion-button>

<!-- <ion-list style="margin-left: auto;margin-right: auto;">
  <div class="chart-container">
    <canvas id="MyChart2"
    #MyChart2
     style="width:100%;max-width:700px;"
     >{{ MyChart2 }}</canvas>
  </div>
</ion-list> -->



</ion-content>